@model Project

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a asp-action="Index">Projeler</a></li>
    <li class="breadcrumb-item active">Ekle</li>
</ol>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="ProjectName" class="col-form-label">Proje Adı</label>
                <input asp-for="ProjectName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="CustomerName" class="col-form-label">Müşteri Adı</label>
                <input asp-for="CustomerName" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="CustomerComment" class="col-form-label">Müşteri Yorumu</label>
                <textarea asp-for="CustomerComment" class="form-control" cols="10"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="ProjectUrl" class="col-form-label">Proje Bağlantı Linki</label>
                <input asp-for="ProjectUrl" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Services" class="col-form-label">Hizmetler</label>
                <input asp-for="Services" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Date" class="col-form-label">Tarih</label>
                <input asp-for="Date" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Description" class="col-form-label">Proje Açıklaması (Genel)</label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="RequestDescription" class="col-form-label">Proje Açıklaması (Müşteri İsterleri)</label>
                <textarea asp-for="RequestDescription" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label asp-for="ResultDescription" class="col-form-label">Proje Açıklaması (Çözüm Ve Sonuç)</label>
                <textarea asp-for="ResultDescription" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>